<div class="table">
	<div class="cell">
		<div class="row">
			<div class="col-sm-4">
				<app-portfolio-card 
					[title]="portfolioCard[0].title" 
					[description]="portfolioCard[0].description" 
					[src]="portfolioCard[0].src"
					[href]="portfolioCard[0].href"></app-portfolio-card>
			</div>
			<div class="col-sm-4">
				<app-portfolio-card 
					[title]="portfolioCard[1].title" 
					[description]="portfolioCard[1].description" 
					[src]="portfolioCard[1].src"
					[href]="portfolioCard[1].href"></app-portfolio-card>
			</div>
			<div class="col-sm-4">
				<app-portfolio-card 
					[title]="portfolioCard[2].title" 
					[description]="portfolioCard[2].description" 
					[src]="portfolioCard[2].src"
					[href]="portfolioCard[2].href"></app-portfolio-card>
			</div>
		</div>
	</div>
</div>